

<div class="container">
    <div class="row">
        <div class="col-md-10">
          <form>
            
<div class="card">
    <div class="card-header bg-primary text-white">Product List</div>
    <div class="card-body">

 

        <div class="col-xs-2">
                <label for="ex1"></label>
               
        </div>



        <div class="form-group">
                <label class="control-label col-sm-2" for="email">Filter By :</label>               
                        <input type="text"  name="Search"  
                        placeholder="Search here.." 
                        [(ngModel)]="Search">                     
                       
        </div>
            <div class="table-responsive">          
                    <table class="table">
                      <thead>
                        <tr>
                          <th><button class="btn btn-primary" (click)="image()">{{ flag ? 'Hide Image': 'Show Image'}}</button></th>
                          <th>Product</th>
                          <th>Code</th>
                          <th>Available</th>
                          <th>Price</th>
                          <th>5 star reating</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr *ngFor="let data of productlist | filter : 'product' : Search">
                          <td><img src="{{data.productImage}}" width="100px" height="50px" *ngIf="flag"></td>
                          <td><a routerLink="/productdetails/{{data.productId}}"> {{data.product}} </a></td>
                          <td>{{data.code}}</td>
                          <td>{{data.available}}}</td>
                          <td>{{data.price}}</td>
                          <td><i class="fa fa-star" title="{{data.rating}}"></i><i class="fa fa-star" title="{{data.rating}}"></i><i class="fa fa-star" title="{{data.rating}}"></i><i class="fa fa-star" title="{{data.rating}}"></i><i class="fa fa-star" title="{{data.rating}}"></i></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>

      
    </div>





    <p class="card-text"><small class="text-muted">nilima p</small></p>

</div>
</form>
        </div>
    </div>
</div>
